<script src="{{site.baseurl}}/assets/js/lunr.js"></script>


<style>
    .lunrsearchresult .title {color: #E65100;}
    .lunrsearchresult .url {color: silver;}
    .lunrsearchresult a {display: block; color: #777;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
    #lunrsearchresults #resultsmodal.modal { background: rgba(0,0,0,0.4); }
</style>

<script>
    function onSearchSubmit() {
        document.getElementById('lunrsearch').blur();
        lunr_search(document.getElementById('lunrsearch').value);
        return false;
    }
</script>

<form class="bd-search" onSubmit="return onSearchSubmit();">
    <input type="text" class="form-control text-small launch-modal-search" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Pesquisar..."/>
</form>

<div id="lunrsearchresults">
    <ul></ul>
</div>

<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js"></script>